.container{
    height: 80px;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 0, 0, 0.103);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .nav{
        display: flex;
        position: absolute;
        top: 10px;
        left: 100px;
        gap: 40px;
        color: var(--color-f);

        .logo{
            width: 80px;
        }

        .btnArea{
            width: 400px;
            display: flex;
            justify-content:start;
            align-items: center;
            font-size: 10px;
            gap: 20px;


        }
    }
}